<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrafficTelligence</title>
</head>
<body background="https://img.freepik.com/premium-photo/blurred-abstract-background-traffic-car-city-street-morning_491799-7039.jpg" style="background-size: cover;">
    <h1 style="text-align: center;">Traffic Volume Estimation</h1>
    <h2>Please Enter the following details</h2>
    <form action="/predict" method="post">
        <label for="">temp:</label>
        <input type="text" name="temp" id="" placeholder="temp" required><br><br>
        <label for="">rain:</label>
        <input type="text" name="rain" id="" placeholder="rain" required><br><br>
        <label for="">snow:</label>
        <input type="text" name="snow" placeholder="snow" required><br><br>
        <label for="">weather</label>
        <select name="weather" id="weather">
            <option value="1">Clouds</option>
            <option value="0">Clear</option>
            <option value="6">Rain</option>
            <option value="2">Drizzle</option>
            <option value="5">Mist</option>
            <option value="4">Maze</option>
            <option value="3">Fog</option>
            <option value="10">Thunderstorm</option>
            <option value="8">Snow</option>
            <option value="9">Squall</option>
            <option value="7">Smoke</option>
        </select><br><br>
        <label for="">day:</label>
        <input type="number" min="1" max="31" name="day" placeholder="day" required><br><br>
        <label for="">month:</label>
        <input type="number" min="1" max="12" name="month" placeholder="month" required><br><br>
        <label for="">year:</label>
        <input type="text" name="year" placeholder="year" required><br><br>
        <label for="">hours:</label>
        <input type="number" min="0" max="23" name="hour" placeholder="hours" required><br><br>
        <label for="">minutes:</label>
        <input type="number" min="1" max="59" name="minutes" placeholder="minutes" required><br><br>
        <label for="">seconds:</label>
        <input type="number" min="1" max="59" name="seconds" placeholder="seconds" required><br><br>
        <button>Predict</button>
    </form>
    {% if prediction %}
        <h2 style="color: white;">{{ prediction }}</h2>
    {% endif %}
</body>
</html>